<div style="height:60px;">
<div id="nav">
	<ul>
		<li><a href="http://cslabs.clarkson.edu/">CSLabs Homepage</a></li>
		<li><a href="http://docs.cosi.clarkson.edu/">Docs</a></li>
		<li><a href="http://print.cosi.clarkson.edu/">Print</a></li>
		<li><a href="http://mirror.clarkson.edu/">Mirror</a></li>
		<li><a href="http://fsuvius.cosi.clarkson.edu/">Fsuvius</a></li>
		<li><a href="http://talks.cosi.clarkson.edu/">Talks</a></li>
		<li><a href="http://cosi-lab.github.io/meeting-minutes/">Meeting Minutes</a></li>
		<li><a href="http://cosi-lab.github.io/project-updates/">Project Updates</a></li>
		<li><a href="http://moodle.cosi.clarkson.edu/">COSI Moodle</a></li>
		<li><a href="http://sage.cosi.clarkson.edu/">Sage</a></li>
	</ul>
</div>
</div>
